<a href="https://colab.research.google.com/github/praykar/codesimple/blob/main/Functional_Programming_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Map

In [ ]:
a = [1, 2, 3, 4, 5]

In [ ]:
# List Comprehension

new_a = [2*i for i in a]
print(new_a)

[2, 4, 6, 8, 10]

In [ ]:
new_a = list(map(lambda x : 2*x, a))
print(new_a)

[2, 4, 6, 8, 10]

In [ ]:
'''
Queston 1 - 
Convert heights to t shirt sizes ->
h < 150 - S
h >= 150 and h < 180 - M
h >= 180 - L

You will be given a list of heights.

EXAMPLE ->
INPUT - [150, 170, 190]
OUTPUT - ["M", "M", "L"]
'''

In [ ]:
heights = [150, 130, 155, 170, 190, 180, 200, 145]

In [ ]:
def categorise_height(x) :
  if x < 150 :
    return "S"
  elif x >= 150 and x < 180 :
    return "M"
  else :
    return "L"

In [ ]:
lambda x : "S" if x < 150 else ( "M" if x >= 150 and x < 180 else "L" )

In [ ]:
categories = list(map(categorise_height, heights))
print(categories)

['M', 'S', 'M', 'M', 'L', 'L', 'L', 'S']

In [ ]:
'''
Question 2 - 
A = [1,0,1,0,0,1]
B = [0,0,0,1,1,1]

If values at correspoding index are same, return true else return false

OUTPUT -> [False, True, False, False, False, True]
'''

In [ ]:
A = [1,0,1,0,0,1]
B = [0,0,0,1,1,1]

# Map runs till length of smaller list
# A = [1,0,1,0]
# B = [0,0,0,1,1,1]

res = list ( map( lambda x, y : x == y, A, B ) )
print(res)

[False, True, False, False]

In [ ]:
res = list(map(lambda x, y, z: x + y + z, ["a", "b", "c"], "abc", {"a", "b", "c"}))
print(res)

['aab', 'bbc', 'cca']

In [ ]:
# Generic syntax
# map(function(arg1, arg2, ..., argx), it1, it2, ..., itx)

### Filter

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
# Filter out even values

f = filter(lambda x : x%2==0, a)
ls = list(f)
print(ls)

[2, 4, 6, 8, 10]

In [ ]:
res = list(map(lambda x : x%2==0, a))
print(res)

[False, True, False, True, False, True, False, True, False, True]

In [ ]:
# Filter out multiples of 3 and 5 from list
a = [1,2,3,4,5,6,7,8,9,10]
# ans = [3, 5, 6, 9, 10]

res = list(filter(lambda x: x%3==0 or x%5==0, a))
print(res)

[3, 5, 6, 9, 10]

In [ ]:
# Break - 10:05pm

### Reduce

In [ ]:
from functools import reduce

In [ ]:
# Generic syntax
# reduce(function, iterable, init_value)

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
res = reduce(lambda x, y: x+y, a)
print(res)

55

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
res = reduce(lambda x, y: x+y, a, -1)
# -1 is the init value
print(res)

54

In [ ]:
# Write a function with reduce which returns max of iterable 
res = reduce(lambda x, y : x if x > y else y, a)
print(res)

10

### Zip

In [ ]:
a = [1,2,3,4,5]
b = ["a", "b", "c"]
c = ["this", "is", "very", "random"]

In [ ]:
# works till length of smallest list

res = list(zip(a, b, c))
print(res)

[(1, 'a', 'this'), (2, 'b', 'is'), (3, 'c', 'very')]

In [ ]:
keys = ["key1", "key2", "key3", "key4", "key5"]
values = ["value1", "value2", "value3", "value4"]

d = dict(zip(keys, values))
print(d)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

### Args and Kwargs

In [ ]:
def sum_custom(a, b):
    return a + b

sum_custom(2, 3, 4, 5)

TypeError: ignored

In [ ]:
def sum_custom(a, b, *args):
  print(a)
  print(b)
  print(args)
  # return a + b + sum(args)

print(sum_custom(1, 2, 3, 4, [5, 6]))

1
2
(3, 4, [5, 6])
None

In [ ]:
def random() :
  return 1, 2, 3, 4, 5

a, b, *args = random()
print(a, b, args)

1 2 [3, 4, 5]

In [ ]:
def create_person(name, age, profession, **kwargs):
    person = {
        "name": name,
        "age": age,
        "profession": profession
    }
    
    print(f"kwargs -> {kwargs}")
    
    if kwargs:
        person.update(kwargs)
    
    return person

In [ ]:
p = create_person(name="Aarnav", age=25, profession="sitting free", hobby="teaching", city="Delhi")
print(p)

kwargs -> {'hobby': 'teaching', 'city': 'Delhi'}
{'name': 'Aarnav', 'age': 25, 'profession': 'sitting free', 'hobby': 'teaching', 'city': 'Delhi'}

In [ ]:
# positional -> args
# keyworded -> kwargs

In [ ]:
# Guys Vijay did the HW from last class :)
# Merge sort using key and reverse params

def Sorted(lst, key = None, reverse = False): 
  if len(lst) == 1:
    return lst 
    
  left = Sorted(lst[:len(lst)//2], key, reverse)
  right = Sorted(lst[len(lst)//2:], key, reverse) 
  
  res = []
  i, j = 0, 0
  while i < len(left) and j < len(right):
    if key is None:
      if not reverse:
        if left[i] < right[j]:
          res.append(left[i])
          i+=1
        else:
          res.append(right[j])
          j+=1
      else:
        if left[i] > right[j]:
          res.append(left[i])
          i+=1
        else:
          res.append(right[j])
          j+=1
    else:
      if not reverse:
        if key(left[i]) < key(right[j]):
          res.append(left[i])
          i+=1
        else:
          res.append(right[j])
          j+=1
      else:
        if key(left[i]) > key(right[j]):
          res.append(left[i])
          i+=1
        else:
          res.append(right[j])
          j+=1
    
    if i < len(left):
      res += left[i:]
    if j < len(right):
      res += right[j:] 
    
    return res

In [ ]:
def fun(x, y, z) :
  return x + y + z

fun = lambda x, y, z : x + y + z

print(fun(2, 3, 4))

In [ ]:
Given a point P (1,2), and a straight line 4x-3y-26=0. 
What will be the perpendicular distance of the point P from the line?

|4*1-3*2-26|/(sqrt(a^2+b^2))
|-28|/5 = 28/5